*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    outline: none;
    text-decoration: none;
    list-style:none;
    font-family: 'Overpass', sans-serif;
}

body{
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--VeryDarkBlue); 
}

:root{
    --Orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
}


.box{
    width: 400px;
    padding: 30px 32px;
    border-radius: 30px;
    background: radial-gradient(circle at 50% -50%, #232A32, #171E28);
    position: relative;
}

.box h3{
    font-size: 25px;
    color: var(--white);
    margin-bottom: 16px;
}

.star{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: var(--DarkBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}
.text{
    font-size: 15px;
    color: var(--LightGrey);
    line-height: 24px;
    margin-bottom: 32px;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.buttons button{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: var(--DarkBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    font-size: 15px;
    color: var(--MediumGrey);
    cursor: pointer;
    transition-duration: 0.3s;
}

.buttons button:hover{
    background-color: var(--Orange);
    color: var(--white);
}

.buttons button.active{
    background: var(--MediumGrey);
    color: var(--white);
}

#btn{
    width: 100%;
    height: 48px;
    background: var(--Orange);
    border-radius: 24px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    font-weight: 700;
    transition-duration: 0.3s;
    cursor: pointer;
}

#btn:hover{
    background: var(--white);
    color: var(--Orange);
}

.thanks{
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% -50%, #232A32, #171E28);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition-duration: 0.3s;
}

.thanks img{
    display: block;
    margin-bottom: 30px;
    margin-top: 30px;
}

.thanks span{
    display: inline-block;
    line-height: 32px;
    font-size: 15px;
    color: var(--Orange);
    background-color: var(--DarkBlue);
    padding: 0 16px;
    border-radius: 20px;
    margin-bottom: 40px;
}
.thanks span div{
    display: inline;
}

.thanks p{
    padding: 0 30px;
    text-align: center;
}

.thanks.active{
    opacity: 1;
    visibility: visible;
}

@media only screen and(max-width: 600px){
    body{
        padding: 0 24px;
    }

    .box{
        width: 80%;
        padding: 22px;
    }

    .star{
        width: 40px;
        height: 40px;
        margin-bottom: 20px;
    }

    .box h3{
        font-size: 20px;
        margin-bottom: 16px;
    }

    .text{
        margin-bottom: 20px;
    }

    .buttons button{
        width: 40px;
        height: 40px;
    }

   #btn{
        height: 45px;
        margin-top: 20px;
    }

    .thanks img{
        height: 95px;
    }
    .thanks{
        margin-bottom: 20px;
    }

    .card .thanks .text{
        padding: 0 24px;
    }
}